* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: sans-serif;
}

body {
    background-image: url(./../betterLuckNextTime.jpg);
    background-repeat: no-repeat;
    background-position: 10vw center;
    background-size: 40%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    margin: 0;
}

.container {
    width: 650px;
    margin-right: 150px;

    padding: 40px;
    background: linear-gradient(to bottom, rgba(10, 134, 235, 0.3), rgba(102, 5, 141, 0.8)); 
    border-radius: 10px;
    box-shadow: 0 0 20px 0px rgb(36 1 46 / 28%);
}

.container {
    color: black;
    text-align: center;
}
.container h2 {
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}
.container h2:last-child {
    color: red;
}

