* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 20px;
    font-family: sans-serif;
}

body {
    
    background-repeat: no-repeat;
    background-position: 10vw center;
    background-size: 40%;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    margin: 0;
    color: #fff;

}

.container {
    width: 700px;
    padding: 20px;
    margin-right: 150px;
    padding-right: 35px;
    background: linear-gradient(to bottom, rgba(10, 134, 235, 0.3), rgba(102, 5, 141, 0.8));
    border-radius: 10px;
    box-shadow: 0 0 20px 0px rgb(36 1 46 / 28%);
    /* backdrop-filter: blur(5px); */
}


.container div {
    text-align: left;
}

.container div * {
    margin: 10px;
}

.container .details{
    color: black;
    text-align: center;
}
.container .details h2{
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}
.container .wrongQuestions h3{
    font-size: 29px;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.container .wrongQuestion {
    padding: 2px;
    border-radius: 20px;
    background: white;
}
.container .wrongQuestion h5 {
    font-size: 24px;
    color: black;
    
}
.container .wrongQuestion p {
    font-size: 24px;
    
}
.right {
color: rgb(8, 151, 8);    
}
.wrong {
color: red;    
}
.rightImage {
background-image:radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 1) 80%), url(./../success.jpg) ;
}
.wrongImage {
    background-image: url(./../betterLuckNextTime.jpg);
color: red;    
}




